<b><font color="<?= data.COLORS.TEMP ?>"><?= data.temperatureDisplay ?></font></b>  <font color="<?= data.COLORS.GRAY ?>"><?= data.name ?></font>
<p><font color="<?= data.COLORS.PRIMARY ?>"><?= data.precipitationMessage ?> <i><?= data.windMessage ?></i></font></p>
<!-- <b><font color="<?= data.COLORTEMP ?>"><?= data.temperatureDisplay ?></font> <u><font color="black"><?= data.name ?></font></u></b> -->
<!-- <u><font color="black"><?= data.name ?></font></u>
     <b><font color="<?= data.COLORTEMP ?>"><?= data.message ?></font></b>
     <p><?= data.apparentTemperatureMessage ?></p>
     <p><font color="<?= data.COLORS.PRIMARY ?>"><?= data.windMessage ?></font></p>
     <p> </p> -->
